/* This file is for your main application css. */

@import "./phoenix.css";

#temp-container {
    margin-top: 2em;
    text-align: center;
}

.column {
    font-size: 8rem;
    font-family: 'Roboto';
    font-weight: 300;
}
